.modal{
    display: flex;
    align-items: center;
}
.modal-img{
    object-fit: contain;
    max-width: 50px;
    max-height: 60px;
    margin-right: 5px;
}
.modal-title{
    color: black;
}

.modal-info{
    display: flex;
    flex-direction: column;
}