.payment{
    background-color: white;
}

.payment-cont > h1{
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234,237,237);
    border-bottom: 1px solid lightgray;
}

.payment-cont >h1 a{
    text-decoration: none;
}

.payment-section{
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment-title{
    flex: 0.2;
}

.payment-address, .payment-items{
    flex: 0.8;
}

.payments-place-order{
    /* background: #f0c14b; */
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);;
}
.payments-place-order:hover{
    cursor: pointer;
}
.payments-place-order:disabled{
    cursor: not-allowed;
    color: rgb(102, 102, 102);
}